/* Default styling starts */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
/* Default styling ends */

/* Intro section style starts */
.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Intro section style ends */

/* Intro2 section style starts */
.intro2 {
  height: 100vh;
}

.intro2 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Intro section style ends */
